body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
padding: .5rem;
}
.slidebar{
    background-color:black;
    width: 340px;
border-radius: 1rem;
margin-right: .50rem;

}
.main-content{
    
    background-color:#121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;

}

.music-player{
  background-color:black ; 
  position: fixed;
  bottom: 0px;
width: 100%;
height: 72px;

}
a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
 
    padding: .5rem .75rem;


}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
padding: .5rem .5rem;

}
.nav-option i {
    font-size: 1.25rem;
    padding-right: 1rem;
}
.nav-option a {
    font-size: 1rem;
}
.nav-option:hover{
    opacity: 1;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: .5rem;
    padding: .5rem .75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
    padding-right: 1rem;
}
.icons{
    font-size: 1.25rem;
  
    display: flex;
}

.icons i {
    opacity: .75;
    margin-right: 1rem;
}

.icons i:hover{
    opacity:1;
    margin-right:1rem ;
}

.box{
     background-color: #232323;
     height:8rem ;
     border-radius: .75rem;
     margin: .5rem 0  1.5rem 0;
     padding: .75rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: .85rem;
    opacity: .9;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: .25rem 1rem;
    font-weight: 700;
    margin-top: .25rem;
    height: 2rem;
    width: fit-content;

}




.kalabage{
    background-color: #000;
    color: #fff;
}
.sticky-nav{
    position:sticky;
    top: 0;
    background-color:#121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
padding:.75rem 0 1rem 0 ;

}
.sticky-nav-icons{
    margin-left: .75rem;}

    .sticky-nav-options {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-items{ margin-right: 1rem;
    }


@media(max-width:1000px){
    .hide{
        display: none;
    }

}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: .5rem;
    padding: 1rem;
    margin-left:1.5rem ;
    margin-top: 1rem;
    
}

.cards-container{
    display:flex;
 flex-wrap: wrap;
}

.card-img{
    width: 100%;
    border-radius: .5rem;
    
}
.card-tittle{
    font-weight: 600;
}

.card-info{
    font-size:.70rem ;
    opacity: .5rem;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.line{
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.3;

}

.music-player{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.album{
    width: 14.5rem;
    height: 4.4rem;
    display: flex;


    justify-content: flex-start;
    align-items:center ;
   
  
 
    
    
}
.playback-bar{
    width: 50%;
    
   
   
    
}


.playback-icons{   display: flex;
    justify-content: center;
    align-items:center ;
    padding-bottom: .5rem;



}

.tools{
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

  
}

.one{
    height: 1rem;margin-right: 1.5rem;
    opacity: 0.7;

  
   
}

.progress-bar{
    display: flex;
   
    align-items:center ;
    padding-left: 6rem;
    cursor: pointer;
  
   
  
}

.one:hover{
    opacity: 1;
}

.progress{
    width: 60%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;


}

.progress::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: .2rem;


}

.progress::-webkit-slider-thumb{
    appearance: none;
    margin-top: -6px;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    opacity: 0;
}
.icon-photu{
    display: flex;
}

.one-i{
    height: 1.5rem; width: 1.5rem;
   margin-left: 1rem;
    margin-right: .5rem;

}

.one-ii{
    height: 1.5rem; width: 1.5rem;
}

.control-icons{
    height: 2rem; width: 2rem;
    margin-right: .5rem;
    position-try: relative;
    opacity: .5;

}

.speaker{
    appearance: none;
    cursor: pointer;
   
}

.speaker::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: .2rem;


}
.speaker::-webkit-slider-thumb{
    appearance: none;
    margin-top: -6px;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    opacity: 0;
    
}
.speaker::-webkit-slider-thumb:hover{
    opacity: 1;

}
.progress::-webkit-slider-thumb:hover{
    opacity: 1;
}

.control-icons:hover{
    opacity: 1;
}

.speaker{
    speaker-color:white;
}





